.menuItem {
  color: grey;
  background-color: white;
  border-color: rgb(226, 214, 52);
  border: 0px;
  border-radius: 3px;
  box-shadow: none;
  margin: 10px 3vh 0px 3vh;
  padding: 0px;
  font-size: calc(6px + 1vmin);
}
